.app {
  padding: 1rem;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 700px;
}

.app-grid-cell:nth-child(2n) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}