.dropdown {
  width: 40px;
  height: 40px;
  position: relative;
}

.dropdown-button {
  width: 40px;
  height: 40px;
  background-color: #D3D3D3;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: #FFFFFF;
  width: 260px;
  border-radius: 3px;
  position: absolute;
  top: 40px;
}

.dropdown-menu-xRight {
  left: 0;
  right: auto;
}

.dropdown-menu-xLeft {
  left: auto;
  right: 0;
}

.dropdown-menu-yTop {
  top: auto;
  bottom: 40px;
}

.dropdown-menu-yBottom {
  top: 40px;
  bottom: auto;
}

.dropdown-menu-item {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.dropdown-menu-item:hover {
  background-color: #F2F2F2;
}